<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<context:component-scan base-package="ru.intertrust.af.storage" />
	<context:spring-configured />
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager"
		mode="aspectj" />

	<!-- имя transactionManager предопределено Spring -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean id="restOperationsImpl" class="ru.myblog.project.operations.RestOperationsImpl" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="persistenceCtx" />
		<property name="persistenceXmlLocation" value="/WEB-INF/persistence.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaAdapter" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">${datasource.hbm2ddl.auto}</prop>
				<prop key="hibernate.jdbc.use_streams_for_binary">${datasource.use_streams_for_binary}</prop>
				<prop key="hibernate.show_sql">${datasource.show_sql}</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="jpaAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="${datasource.show_sql}" />
		<property name="databasePlatform" value="${datasource.dialect.class}" />
	</bean>

	<!-- jndiName like "java:comp/env/jdbc/ds_44s" via ${jndi.dbname.full} -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jndi.dbname.full}" />
	</bean>

</beans>